<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Global_Games_Exercise_Cet49</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
  
</head>
<body>
    @* Navbar / menu *@
    <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1>
            </div>
            <nav>
                <ul>
                    <li id="Home"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li id="About"><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                    <li id="Services"><a asp-area="" asp-controller="Home" asp-action="Services">Serviços</a></li>
                    <li id="Regi"><a asp-area="" asp-controller="Home" asp-action="Registo">Pré-registo</a></li>
                    @* <li id="Contactos" ><a asp-area="" asp-controller="Contactos" asp-action="Index">Contactos</a></li>*@
                    @if (this.User.Identity.IsAuthenticated)
                    {
                <li><a asp-controller="UserLogs" asp-action="Index" class="dropdown-item">User</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ChangeUxer" class="dropdown-item">@this.User.Identity.Name</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Logout" class="dropdown-item">Logout</a></li> }
                   else
                   {
                   <li><a asp-area="" asp-controller="Continhas" asp-action="Login"> Login </a></li>
                   }
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>A melhor plataforma de realidade virtual</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, deleniti commodi sapiente, eligendi nesciunt accusamus, architecto alias consequatur sunt ipsam porro fugit voluptates suscipit vero sint culpa non numquam hic?</p>
        </div>
    </section>

    @* Newsleter *@
    <partial name="_Newslt.cshtml" />




    @* aqui será demonstrado o conteudo das outras views/páginas *@
    <div class="container body-content">
        @RenderBody()


        <hr />

    </div>
    @* Footer *@
<div class="container-fluid">
    <footer>
        <p>Global Games, Todos os direitos reservados &copy; CET 49  @DateTime.Now.Year</p>
    </footer>
</div>

    <environment include="Development">

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
